body {
  background-color: #FFFFE0; /* warna kuning cerah */
  font-family: Arial, sans-serif; /*jenis huruf yang mudah
  color: #191970; /*warna teks utama (biru gelap) */
}

.kartu-profil {
  width: 300px;
  margin: 50px auto; /* 50px jarak atas bawah, auto menengan kiri */
  padding: 20px;
  background-color: white;
  border-radius: 15px; /* membuat sudut menjadi melengkung */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* efek bayangan */
  text-align: center; /*menengahkan semua teks didalam kartu */
}


.kartu-profil img {
  width: 150px;
  border-radius:50%;
}
